<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-09-24-MySQL查询结果导出CSV.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15234399</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-09-MySQL操作命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152372</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-07-MongoDB安装及使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235001</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-07-memcache安装及其他.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152349</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-13-redis安装及使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152354</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-MySQL sql_mode.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235001</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-MySQL主备配置方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235102</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-MySQL数据表拆分.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235299</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-阿里云服务器升级数据盘.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15234798</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-MySQL too many connections error.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235198</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-MySQL数据备份.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235102</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-MySQL数据类型char和varchar.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235299</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-Flask-socketio笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235603</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-GIT用法总结.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152358</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-Linux磁盘清理.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236098</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-Python-MySQLdb-TypeError:-not-all-arguments-converted-during-string-formatting.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235901</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-Python实现网页导出PDF.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235603</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-Python队列实现：celery+Redis.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235502</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-pandas导出StringIO-excel.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236002</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-利用pandas对多个list转换dataframe并切片计算平均分.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152358</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-微信amr音频转wav格式.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236998</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-服务器之间传送文件.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235698</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-矩阵数据结构如何获取各元素的数量.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15235901</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-28-CentOS重新安装和配置yum.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236002</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-29-Linux系统操作命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236098</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-31-Python-pip的安装与使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152363</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-31-nginx安装与使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236199</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-05-Python-os.path模块.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152363</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-11-Python-flask.Request模块.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236402</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-17-Mac-python开发配置.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236503</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-MySQL的安装(yum)与配置.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236503</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-10-MySQL的安装(rpm)与配置.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236598</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-18-CentOS如何开通端口.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152367</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-04-Linux监测进程如果停止则重启.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.152367</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-30-蓝色音乐田.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236801</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-04-SQLAlchemy使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236902</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-11-Python包的使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15236998</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-14-word转html.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15237099</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-18-Python脚本的后台运行.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15237099</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-09-09-VIM的使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>528004049.15237302</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>528004067.26368701</real>
				<key>lastModification</key>
				<real>528004067.26368701</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Untitled - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>528004070.02638203</real>
				<key>lastModification</key>
				<real>528004070.02638203</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>528004064.57500398</real>
				<key>lastModification</key>
				<real>528004064.57500398</real>
				<key>version</key>
				<dict>
					<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-09-24-MySQL查询结果导出CSV.md</string>
		</array>
		<array>
			<string>2017-03-22-阿里云服务器升级数据盘.md</string>
		</array>
		<array>
			<string>2017-03-07-memcache安装及其他.md</string>
		</array>
		<array>
			<string>2017-03-22-MySQL sql_mode.md</string>
		</array>
		<array>
			<string>2017-03-07-MongoDB安装及使用.md</string>
		</array>
		<array>
			<string>2017-03-22-MySQL主备配置方法.md</string>
		</array>
		<array>
			<string>2017-03-23-MySQL数据备份.md</string>
		</array>
		<array>
			<string>2017-03-23-MySQL too many connections error.md</string>
		</array>
		<array>
			<string>2017-03-23-MySQL数据类型char和varchar.md</string>
		</array>
		<array>
			<string>2017-03-22-MySQL数据表拆分.md</string>
		</array>
		<array>
			<string>2017-03-13-redis安装及使用.md</string>
		</array>
		<array>
			<string>2017-03-25-Python队列实现：celery+Redis.md</string>
		</array>
		<array>
			<string>2017-03-25-Python实现网页导出PDF.md</string>
		</array>
		<array>
			<string>2017-03-25-Flask-socketio笔记.md</string>
		</array>
		<array>
			<string>2017-03-25-服务器之间传送文件.md</string>
		</array>
		<array>
			<string>2017-03-25-GIT用法总结.md</string>
		</array>
		<array>
			<string>2017-03-25-利用pandas对多个list转换dataframe并切片计算平均分.md</string>
		</array>
		<array>
			<string>2017-03-25-Python-MySQLdb-TypeError:-not-all-arguments-converted-during-string-formatting.md</string>
		</array>
		<array>
			<string>2017-03-25-矩阵数据结构如何获取各元素的数量.md</string>
		</array>
		<array>
			<string>2017-03-25-pandas导出StringIO-excel.md</string>
		</array>
		<array>
			<string>2017-03-28-CentOS重新安装和配置yum.md</string>
		</array>
		<array>
			<string>2017-03-25-Linux磁盘清理.md</string>
		</array>
		<array>
			<string>2017-03-29-Linux系统操作命令.md</string>
		</array>
		<array>
			<string>2017-03-31-nginx安装与使用.md</string>
		</array>
		<array>
			<string>2017-03-31-Python-pip的安装与使用.md</string>
		</array>
		<array>
			<string>2017-04-05-Python-os.path模块.md</string>
		</array>
		<array>
			<string>2017-04-11-Python-flask.Request模块.md</string>
		</array>
		<array>
			<string>2017-04-17-Mac-python开发配置.md</string>
		</array>
		<array>
			<string>2017-04-18-MySQL的安装(yum)与配置.md</string>
		</array>
		<array>
			<string>2017-05-10-MySQL的安装(rpm)与配置.md</string>
		</array>
		<array>
			<string>2017-06-18-CentOS如何开通端口.md</string>
		</array>
		<array>
			<string>2017-07-04-Linux监测进程如果停止则重启.md</string>
		</array>
		<array>
			<string>2017-07-30-蓝色音乐田.md</string>
		</array>
		<array>
			<string>2017-08-04-SQLAlchemy使用.md</string>
		</array>
		<array>
			<string>2017-03-25-微信amr音频转wav格式.md</string>
		</array>
		<array>
			<string>2017-08-11-Python包的使用.md</string>
		</array>
		<array>
			<string>2017-08-14-word转html.md</string>
		</array>
		<array>
			<string>2017-08-18-Python脚本的后台运行.md</string>
		</array>
		<array>
			<string>2017-02-09-MySQL操作命令.md</string>
		</array>
		<array>
			<string>2017-09-09-VIM的使用.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>Untitled - 3.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0c401fb3eafd87921d5ea7c437d9fd76292e4cff5e36e926b2aff269e95fbeaa</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
