---
layout: default
title: Tags - Blog
category: tags
---

<link rel="stylesheet" href="../css/blog.css">
<div class="subheader-container">
<div class = "inner">
<nav class = "sub-nav">
    <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Home</a>
    <a class="{% if page.category == 'categories' %} selected {% endif %}" href="/blog/categories.html">Category</a>
    <a class="{% if page.category == 'tags' %} selected {% endif %}" href="/blog/tags.html">Tag</a>
</nav>
</div>
</div>
<section class="inner">
<div id='tag_cloud'>
{% for tag in site.tags %}
<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
{% endfor %}
</div>

<section class="inner">
{% for tag in site.tags %}
  <li class="category-listing-seperator" id="{{ tag[0] }}">{{ tag[0] }}（共{{ tag[1].size }}篇）</li>
    {% for post in tag[1] %}
    <div class = "post-link-in-posts">
    <a id = "uniqueid"  class="listing-item" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time></a>
    </div>
    {% endfor %}
{% endfor %}
</section>

<script src="../js/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script>
<script language="javascript">
$.fn.tagcloud.defaults = {
    size: {start: 1, end: 1, unit: 'em'},
      color: {start: '#f8e0e6', end: '#ff3333'}
};

$(function () {
    $('#tag_cloud a').tagcloud();
});
</script>
