---
layout: default
---

<div class="inner">

  <!-- <p class="fancy">
    I graduated in 2006 from <a href="https://en.hhu.edu.cn/" target="_blank">Hohai University</a> and joined <a href="http://www.bhidi.com" target="_blank">Power China</a> as a GIS engineer.<br>
    In 2013 I joined <a href="https://mobile.amap.com/" target="_blank">Alibaba Autonavi</a>.<br>
    Since 2014 I turned to be a software engineer, main work is web application development.<br>
    2014 - 2017 I worked for <a href="https://kaoshixing.com/" target="_blank">Kaoshixing</a> and 2017 - 2022 I worked for <a href="https://www.dedao.cn/" target="_blank">Dedao APP</a> as a full stack engineer. <br>
    despite web application development, I'm also familiar with computer graphics, have some experience on C++, OpenGL, etc.
  </p> -->

  <!-- <ul class="portfolio-nav">
    <li {% if page.url == '/portfolio/index.html' %}class="active"{% endif %}>
      <a href="/portfolio/">Products</a>
    </li><li {% if page.url == '/portfolio/code.html' %}class="active"{% endif %}>
      <a href="/portfolio/code.html">Code</a>
  </ul> -->

  {{ content }}

</div>
